---
// Supports weights 100-900
import '@fontsource-variable/roboto-condensed'
import Header from '../components/Header.astro'

interface Props {
  title: string
  icon?: string
}

const { title, icon } = Astro.props
const currentYear = new Date().getFullYear()
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={icon ?? '/Logo.png'} />
    <!-- Meta description -->
    <meta
      name="description"
      content="Cuality Team - Tu tienda de juegos favorita con una amplia selección de títulos para todos los gamers."
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Cuality Team" />
    <meta
      name="keywords"
      content="juegos, tienda de juegos, gamers, videojuegos, Cuality Team"
    />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Cuality Team - Tu tienda de juegos favorita con una amplia selección de títulos para todos los gamers."
    />
    <meta property="og:image" content={icon ?? '/Logo.png'} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="Cuality Team - Tu tienda de juegos favorita con una amplia selección de títulos para todos los gamers."
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content={title} />
    <meta name="theme-color" content="#111" />
    <meta name="twitter:image" content={icon ?? '/Logo.png'} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="max-w-5xl mx-auto">
      <slot />
      <footer class="py-4">
        <span class="mr-4">
          © {currentYear}
          <a target="_blank" href="https://github.com/contexto01">
            Cuality Team - Daniel (@contexto01)</a
          > Todos los derechos reservados
        </span>
      </footer>
    </main>
  </body>
</html>
<style is:global>
  :root {
    --primary-color: #2898ee; /* Azul */
    --secondary-color: #eeeeee; /* Blanco */
    --tertiary-color: #050505; /* Negro */
    --quaternary-color: #111;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-tertiary-color;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-color;
  }
  html {
    font-family:
      'Roboto Condensed Variable',
      Trebuchet MS;
    background: #13151a;
    color-scheme: dark light;
  }
</style>
